// Place all the styles related to the core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

#notice {
  color: #ff0000;
}

article {
  width: 100%;
}

form {
  margin-bottom: 10px;
  background-color: #bbb;
}

input {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

p.answer {
  width: 100%;
}