<!-- _navigation.html.erb -->

<nav id="main-nav" role=navigation>
  <ul class="tabs">
    <li><h3 class="tab-label"><%= link_to "Home", root_path %></h3></li>
    <li><h3 class="tab-label"><%= link_to "Question", show_question_path %></h3></li>
    <li><h3 class="tab-label"><%= link_to "Responses", show_responses_path %></h3></li>
  </ul>
</nav>